#monyr {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#next {
    text-align: right;
    font-size: 24px;
}

#prev {
    text-align: left;
    font-size: 24px;
}

.top {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto;
}

/* Styles for the calendar */
table {
    border-collapse: collapse;
}

td,
th {
    vertical-align: top;
    font-size: 24px;
    border: 1px solid black;
    min-width: 8em;
    min-height: 48px;
}

td {
    text-align: right;
}

th {
    text-align: center;
}